[submodule "reflex-platform"]
	path = reflex-platform
	url = git@github.com/zarybnicky/reflex-platform
[submodule "src-demo/tapaw-realworld-client/server"]
	path = src-demo/tapaw-realworld-client/server
	url = https://github.com/tzemanovic/haskell-yesod-realworld-example-app/
